h1 {
    text-align: center;
}
p {
    text-align: center
}
#keyboard {
    display: flex;
    list-style: none;
    font-size: 20px;
}
#keyboard li {
    margin: 0 5px 0 5px;
    font-weight: bold;
    color: blue;
    padding: 9px;
    border: 2px solid #55504F ;
    background: #fff;    height: 28px;
    line-height: 30px;
    text-align: center;
}
.container {
    font-size: 30px;
    bottom: 100;
    left: 350;
}

.guess_container{
   text-align: center;
}
.wordSpaces {
    border-bottom: 10px solid;
}
img {
    height: 300px;
    width: 300px;
  }
